h1 {
  color: blue;
}
h2{
  color: blue;
  text-align: center;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}
#border{
  border-bottom: 5px solid black;
  width: 103%;
  margin-left: -10px;
}
#image-upload-form{
  text-align: center;
  border:2px solid blue;
  border-radius: 25px;
  background-color: white;
  padding: 10px
}
